<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registered Users</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Registered Users</h1>
    <ul>
        {% for user in users %}
            <li>Name: {{ user['name'] }}, Role: {{ user['role'] }}, Details: {{ user['details'] }}</li>
        {% endfor %}
    </ul>
    <a href="/">Go back</a>
</body>
</html>
