<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Donors</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>Available Donors</h1>
    <ul>
        {% for donor in donors %}
            <li>Donor Name: {{ donor['donor_name'] }}, Blood Type: {{ donor['blood_type'] }}, Quantity: {{ donor['quantity'] }}</li>
        {% endfor %}
    </ul>
    <a href="/">Go back</a>
</body>
</html>
